<div class="p-6 bg-white rounded-lg shadow-lg">
  <!-- Table -->
  <table mat-table [dataSource]="paginatedData" class="w-full mat-elevation-z8 rounded-lg overflow-hidden">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-gray-700 font-semibold p-4"> Name </th>
      <td mat-cell *matCellDef="let element" class="p-4 border-b border-gray-200 text-gray-600"> {{ element.name }} </td>
    </ng-container>

    <!-- Workouts Column -->
    <ng-container matColumnDef="workouts">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-gray-700 font-semibold p-4"> Workouts </th>
      <td mat-cell *matCellDef="let element" class="p-4 border-b border-gray-200 text-gray-600"> {{ transformWorkouts(element.workouts) }} </td>
    </ng-container>

    <!-- Number of Workouts Column -->
    <ng-container matColumnDef="numberOfWorkouts">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-gray-700 font-semibold p-4"> Number of Workouts </th>
      <td mat-cell *matCellDef="let element" class="p-4 border-b border-gray-200 text-gray-600"> {{ element.workouts.length }} </td>
    </ng-container>

    <!-- Total Workout Minutes Column -->
    <ng-container matColumnDef="totalWorkoutMinutes">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 text-gray-700 font-semibold p-4"> Total Workout Minutes </th>
      <td mat-cell *matCellDef="let element" class="p-4 border-b border-gray-200 text-gray-600"> {{ transformMinutes(element.workouts) }} </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-100"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50 transition duration-200"></tr>
  </table>

  <!-- Paginator -->
  <div class="p-6">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="handlePageEvent($event)"
      showFirstLastButtons
      class="rounded-lg shadow-sm"
    ></mat-paginator>
  </div>
</div>